In [ ]:
#import library yang akan digunakan
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#import data dalam bentuk csv
df = pd.read_csv("/content/Data_Gabungan_Kotor.csv",sep = ';', header='infer')

In [ ]:
#tampilan data
df.head()

,Wilayah,Y,X1,X2,X3,X4,X5,X6,X7,X8,...,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40
0,KABUPATEN BOGOR,0,54.81,53.20,61.95,12.48,39951,958742,3111,8.30,...,465.7,172629,2342939,14.29,42304,245,135,505,110,166570
1,KABUPATEN SUKABUMI,0,58.49,51.31,70.24,12.23,18375,404205,1811,7.07,...,175.1,175599,1036735,9.60,345,49,13,48,35,1164
2,KABUPATEN CIANJUR,0,61.98,44.69,62.14,11.99,22165,441926,1871,7.18,...,234.5,212715,1054579,11.05,3908,228,456,131,645,8043
3,KABUPATEN BANDUNG,1,64.82,52.65,62.99,12.69,28178,621645,1992,8.96,...,263.6,181526,1569974,8.58,4899,26,0,103,163,4170
4,KABUPATEN GARUT,0,61.47,51.91,69.60,11.91,25000,483281,2259,7.52,...,262.8,185394,1052573,8.95,3198,65,20,348,465,84661

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 42 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Wilayah  27 non-null     object
 1   Y        27 non-null     int64
 2   X1       27 non-null     float64
 3   X2       27 non-null     float64
 4   X3       27 non-null     float64
 5   X4       27 non-null     float64
 6   X5       27 non-null     int64
 7   X6       27 non-null     int64
 8   X7       27 non-null     int64
 9   X8       27 non-null     float64
 10  X9       27 non-null     int64
 11  X10      27 non-null     int64
 12  X11      27 non-null     int64
 13  X12      27 non-null     int64
 14  X13      27 non-null     int64
 15  X14      27 non-null     int64
 16  X15      27 non-null     float64
 17  X16      27 non-null     int64
 18  X17      27 non-null     int64
 19  X18      27 non-null     int64
 20  X19      27 non-null     int64
 21  X20      27 non-null     float64
 22  X21      27 non-null     float64
 23  X22      27 non-null     int64
 24  X23      27 non-null     int64
 25  X24      27 non-null     float64
 26  X25      27 non-null     int64
 27  X26      27 non-null     float64
 28  X27      27 non-null     int64
 29  X28      27 non-null     int64
 30  X29      27 non-null     float64
 31  X30      27 non-null     float64
 32  X31      27 non-null     float64
 33  X32      27 non-null     int64
 34  X33      27 non-null     int64
 35  X34      27 non-null     float64
 36  X35      27 non-null     int64
 37  X36      27 non-null     int64
 38  X37      27 non-null     int64
 39  X38      27 non-null     int64
 40  X39      27 non-null     int64
 41  X40      27 non-null     int64
dtypes: float64(14), int64(27), object(1)
memory usage: 9.0+ KB

In [ ]:
df.iloc[:, 2:42] = stats.zscore(df.iloc[:, 2:42])

In [ ]:
df.head()

,Wilayah,Y,X1,X2,X3,X4,X5,X6,X7,X8,...,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40
0,KABUPATEN BOGOR,0,-2.035101,-0.789406,-1.298989,-0.406409,2.843382,3.241515,2.904064,-0.171024,...,3.276853,1.189494,2.976930,1.845033,4.741180,-0.154093,-0.207341,0.838023,-0.305735,3.878217
1,KABUPATEN SUKABUMI,0,-1.548967,-1.000934,-0.738243,-0.734159,0.343004,0.503678,1.030922,-1.044825,...,0.305772,1.236622,0.452218,-0.162499,-0.418646,-0.317675,-0.410246,-0.459388,-0.412332,-0.531019
2,KABUPATEN CIANJUR,0,-1.087931,-1.741842,-1.286137,-1.048799,0.782216,0.689912,1.117375,-0.966680,...,0.913075,1.825573,0.486708,0.458167,0.019507,-0.168281,0.326534,-0.223753,0.454655,-0.347645
3,KABUPATEN BANDUNG,1,-0.712762,-0.850962,-1.228642,-0.131100,1.479044,1.577214,1.291721,0.297845,...,1.210592,1.330671,1.482895,-0.599105,0.141373,-0.336871,-0.431867,-0.303244,-0.230407,-0.450888
4,KABUPATEN GARUT,0,-1.155303,-0.933782,-0.781533,-1.153678,1.110755,0.894089,1.676435,-0.725142,...,1.202413,1.392047,0.482830,-0.440728,-0.067804,-0.304321,-0.398604,0.392304,0.198823,1.694765

In [ ]:
df.describe()

,Y,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39
count,27.000000,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,...,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01
mean,0.370370,2.569961e-16,2.796117e-16,-9.868649e-17,-1.217133e-15,1.480297e-16,-1.562536e-16,8.223874e-17,-3.161052e-16,-3.289550e-17,...,1.727014e-16,1.151342e-16,7.401487e-17,-6.496861e-16,-1.644775e-17,1.644775e-17,-6.167906e-18,7.401487e-17,2.055969e-17,-5.756712e-17
std,0.492103,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,...,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00
min,0.000000,-2.035101e+00,-1.741842e+00,-1.798182e+00,-1.428988e+00,-1.514781e+00,-1.317768e+00,-1.386872e+00,-1.591839e+00,-1.014881e+00,...,-1.369934e+00,-1.407137e+00,-1.374595e+00,-2.097263e+00,-4.549228e-01,-3.560666e-01,-4.318671e-01,-5.956585e-01,-4.620771e-01,-5.567168e-01
25%,0.000000,-6.909656e-01,-8.699882e-01,-7.534619e-01,-8.193739e-01,-6.638802e-01,-6.478180e-01,-7.464017e-01,-7.855264e-01,-6.625722e-01,...,-6.910635e-01,-8.996673e-01,-7.459706e-01,-5.199163e-01,-4.133579e-01,-3.310285e-01,-4.160670e-01,-5.190062e-01,-3.995403e-01,-5.210763e-01
50%,0.000000,-1.262306e-02,-1.066967e-01,6.466011e-02,-3.408595e-01,-8.415543e-02,-1.005068e-01,-1.606846e-01,-2.491688e-01,-3.102636e-01,...,-7.149194e-02,-1.950236e-01,-1.091843e-01,2.997901e-01,-3.223579e-01,-2.984789e-01,-3.487091e-01,-4.139642e-01,-3.057352e-01,-4.347074e-01
75%,1.000000,6.756271e-01,8.518945e-01,5.131222e-01,8.390388e-01,5.797612e-01,6.187211e-01,4.769041e-01,6.530486e-01,1.986267e-01,...,4.667992e-01,1.118684e+00,4.847689e-01,6.593481e-01,-2.414826e-02,-1.611867e-01,-1.865510e-01,-1.300670e-01,-2.147727e-01,-8.098166e-02
max,1.000000,1.843407e+00,1.826154e+00,2.411138e+00,1.848507e+00,2.843382e+00,3.241515e+00,2.904064e+00,1.945990e+00,2.821369e+00,...,3.276853e+00,1.825573e+00,2.976930e+00,1.845033e+00,4.741180e+00,4.891086e+00,4.248264e+00,3.648605e+00,4.593450e+00,3.878217e+00

In [ ]:
df.to_csv('Data_Gabungan_Standar.csv')