In [ ]:
#import data dalam format csv
import pandas as pd

data = pd.read_csv("/content/Data_Gabungan_Kotor.csv",sep = ';', header='infer')

In [ ]:
#tampilkan data
data.head()

,Wilayah,Y,X1,X2,X3,X4,X5,X6,X7,X8,...,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40
0,KABUPATEN BOGOR,0,54.81,53.20,61.95,12.48,39951,958742,3111,8.30,...,465.7,172629,2342939,14.29,42304,245,135,505,110,166570
1,KABUPATEN SUKABUMI,0,58.49,51.31,70.24,12.23,18375,404205,1811,7.07,...,175.1,175599,1036735,9.60,345,49,13,48,35,1164
2,KABUPATEN CIANJUR,0,61.98,44.69,62.14,11.99,22165,441926,1871,7.18,...,234.5,212715,1054579,11.05,3908,228,456,131,645,8043
3,KABUPATEN BANDUNG,1,64.82,52.65,62.99,12.69,28178,621645,1992,8.96,...,263.6,181526,1569974,8.58,4899,26,0,103,163,4170
4,KABUPATEN GARUT,0,61.47,51.91,69.60,11.91,25000,483281,2259,7.52,...,262.8,185394,1052573,8.95,3198,65,20,348,465,84661

In [ ]:
#import library yang digunakan untuk Uji VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

# definisikan variabel bebas X
X = data.iloc[:, 2:42]
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["Variabel"] = X.columns
  
# Menghitung VIF untuk setiap variabel bebas
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
                        
# Tampilkan hasil perhitungan VIF
print(vif_data)

   Variabel  VIF
0        X1  inf
1        X2  inf
2        X3  inf
3        X4  inf
4        X5  inf
5        X6  inf
6        X7  inf
7        X8  inf
8        X9  inf
9       X10  inf
10      X11  inf
11      X12  inf
12      X13  inf
13      X14  inf
14      X15  inf
15      X16  inf
16      X17  inf
17      X18  inf
18      X19  inf
19      X20  inf
20      X21  inf
21      X22  inf
22      X23  inf
23      X24  inf
24      X25  inf
25      X26  inf
26      X27  inf
27      X28  inf
28      X29  inf
29      X30  inf
30      X31  inf
31      X32  inf
32      X33  inf
33      X34  inf
34      X35  inf
35      X36  inf
36      X37  inf
37      X38  inf
38      X39  inf
39      X40  inf

/usr/local/lib/python3.8/dist-packages/statsmodels/stats/outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)